main {
    /* background-image: url(pozadina.png); */
    background-image: url(pozadina/18086.jpg);
    background-size: cover;
    width: 100%;
    /* min-height: 500px; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0px;
    background-color: rgb(210, 209, 209);
    color: black;

}

h2 {
    width: 70%;
    margin: auto;
    padding: 20px 0px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    /* color: rgb(1, 21, 122); */
    color: rgb(1, 25, 148);
}

header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;

    /* color: white    ; */
    /* background-color: white; */

}

#about {
    display: flex;
    justify-content: space-between;



    margin-top: 50px;
    margin-bottom: 150px;
}

h1 {

    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 0px;
}



nav a {
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;

}

#lijevi {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

nav a:hover {
    text-decoration: underline;
    color: rgb(1, 21, 122);
}

nav ul {

    display: flex;
    list-style: none;

}

#about article {
    width: 40%;
}



section {
    margin: auto;
    max-width: 70%;
}

#home {
    display: flex;

    padding: 140px 0px;

    justify-content: space-between;
    align-items: center;
    /* height: 500px; */

}

main article {
    width: 40%;
}



#btn_about {
    background-color: rgb(1, 25, 148);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 30%;
    padding: 10px 15px;
    width: 150px;

}

#btn_about:hover {
    background-color: rgb(3, 39, 216);

}

#education {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    min-height: 600px;



}




.edDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ed1 {
    background-color: rgb(210, 209, 209);
    /* border-radius: 20px; */

    /* width: 50%; */
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 0;

}

.ed1 article {
    width: 30%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ed1 img {
    width: 20px;
}

footer {
    background-color: rgb(210, 209, 209);
    height: 15px;
}

#contact {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;


    padding: 100px 0px;

}

#contact a {
    color: rgb(3, 39, 216);
}

#contact a:hover {
    color: black;
}

#conteinerContact {
    background-color: rgb(210, 209, 209);

}

#contact img {
    width: 50px;
    margin-top: -40px;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: white;
    padding: 20px 10px;
}

#radovi {
    display: flex;
    flex-direction: column;
    align-items: center;


}

#radovi article {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 35px;
}

#radovi h3 {
    font-size: x-large;
    color: rgb(1, 21, 122);
}

a {
    color: black;
    font-weight: bold;
}

.tekst {
    background-color: white;
    border-radius: 20px;
}

#radovi span {

    border-radius: 10px;
    padding: 10px;
    /* background-color: white; */
}

#radovi span,
#radovi a {
    width: 45%;
}

#ill {
    flex-direction: row;
}


#ill span {
    width: 45%;

}

#ill img {
    width: 100%;
    margin-top: 10%;
}



@media only screen and (max-width: 1050px) {
    #about {
        flex-direction: column;
        align-items: center;
    }

    #desni {
        width: 80%;
        padding: 20px 0px;
    }

    #about article {
        width: 100%;
    }

    #home {
        flex-direction: column;

    }

    section {
        width: 100%;
        margin: 0 auto;

    }
}

@media only screen and (max-width: 990px) {
    #education {
        flex-direction: column;
    }

    .edDiv {
        width: 100%;
    }

    #contact {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        height: 800px;
    }

    .cont {
        width: 50%;
    }
}

@media only screen and (max-width: 780px) {
    header {
        flex-direction: column;
        margin: 0px;
        width: 100%;
    }

    #radovi,
    #NaslovRadovi,
    #linkRadovi {
        display: none;
    }



    #home {
        padding: 20px 0px;
    }

    section {
        max-width: 100%;
    }

    p {
        margin: 10px;
    }

    h1 {
        font-size: x-large;
    }

    nav {
        width: 100%;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    nav a {
        width: 100%;
    }

    nav li {
        background-color: grey;
        margin: 1px 0px;
    }

    nav li:hover {
        background-color: rgb(181, 182, 183);
        color: black;
    }

    #desni,
    #lijevi {
        width: 80%;
    }

    #ed1 {
        width: 100%;
    }
}